body { 
background: #282A36;
background: #F8F8F2;
background: #44475A;
background: #6272A4;
background: #8BE9FD;
background: #50FA7B;
background: #FFB86C;
background: #FF79C6;
background: #BD93F9;
background: #FF5555;
background: #F1FA8C;
background: #272823;
background: #6495ed;
background: #fff;
}
/* using it for reference */